{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>订单管理</h1>
<div>
    <ul class="nav nav-tabs">
        <li{% if show_lend == '0' %} class="active"{% endif %}><a href="{{ url_for('.show_borrowed_order') }}">借入订单</a></li>
        <li{% if show_lend == '1' %} class="active"{% endif %}><a href="{{ url_for('.show_lend_order') }}">借出订单</a></li>
        <li{% if show_lend == '2' %} class="active"{% endif %}><a href="{{ url_for('.show_ordering') }}">申请列表</a></li>
    </ul>
    {% include '_orders.html' %}
</div>
</div>
{% endblock %}